#Datenacquise
data-acquisition:
    environment:
        CONSUMER_KEY: "${CK}"
        CONSUMER_SECRET: "${CS}"
        ACCESS_TOKEN: "${AT}"
        ACCESS_TOKEN_SECRET: "${ATS}"
        DEBUGGING: "${DEBUGGING}"
        DATABASE_REST_URL: "http://data-management:3000"
    image: mip02/data-acquisition
    links:
        - data_management:data-management

#Data management
data_management:
    image: mip02/data_management
    links:
        - analysis-rest
        - mongo
    environment:
        DB_ACCESS_TOKEN: "${DBT}"
        MONGODB_USER: "mongo"
        MONGODB_DATABASE: "tweetdb"
        MONGODB_PASS: ${MONGODB_PASS}
  environment:
    DB_ACCESS_TOKEN: RGFzIEFzb3ppYWxlIE5ldHp3ZXJr
    MONGODB_DATABASE: tweetdb
    MONGODB_PORT_27017_TCP_ADDR: data_management
    MONGODB_PORT_27017_TCP_PORT: 27017

mongo:
    image: mongo #tutum/mongodb:3.2
    ports:
        - "29017:27017"

#Data analysis
analysis-rest:
    image: mip02/analysis-rest
    environment:
        MONGODB_PASS: "${ANALYSIS_MONGODB_PASS}"
    ports:
     - "5000:5000"
    links:
     - analysis-database:mongodb
     - analysis-cache:redis

analysis-database:
    image: mip02/analysis-database
    environment:
        MONGODB_USER: "analysis"
        MONGODB_DATABASE: "analysis"
        MONGODB_PASS: "${ANALYSIS_MONGODB_PASS}"
    volumes:
        - /data/db
    ports:
        - "27017:27017"
        - "28017:28017"

analysis-cache:
    image: mip02/analysis-cache
    ports:
     - "6379:6379"

analysis-preprocess:
    image: mip02/analysis-preprocess
    links:
     - analysis-database:mongodb
    environment:
        MONGODB_PASS: "${ANALYSIS_MONGODB_PASS}"

#demo frontend
analysis-query-test:
  build: https://github.com/haw-mip02/analysis-query-test.git
  ports:
    - "80:9000"
  environment:
    #REST_URL: "${ANALYSIS_REST_URL}"
    REST_URL: "http://hqor.de:16500/analysis/v1.0/"
  links:
    - analysis-rest

#Frontend
#frontend:
#    image: mip02/frontend
#    ports:
#      - "80:80"
#    links:
#      - analysis-rest


#Watchtower
watchtower:
    image: webhippie/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
